NODE_REACHABILITY_POLL_INTERVAL=60
NODE_DATAAPI_URL=https://dataapi.eigenda.xyz

# EigenDA specific configs
NODE_EXPIRATION_POLL_INTERVAL=180
NODE_CACHE_ENCODED_BLOBS=true
NODE_NUM_WORKERS=1
NODE_QUORUM_ID_LIST=0
NODE_VERBOSE=true
NODE_TIMEOUT=20s
NODE_SRS_ORDER=268435456
NODE_SRS_LOAD=8388608

# Ports
NODE_INTERNAL_DISPERSAL_PORT={{ eigenlayer.eigenda.ports.dispersal_port }}
NODE_DISPERSAL_PORT={{ eigenlayer.eigenda.ports.dispersal_port }}

NODE_INTERNAL_RETRIEVAL_PORT={{ eigenlayer.eigenda.ports.retrieval_port }} 
NODE_RETRIEVAL_PORT={{ eigenlayer.eigenda.ports.retrieval_port }}

NODE_V2_DISPERSAL_PORT={{ eigenlayer.eigenda.ports.v2_dispersal_port }}
NODE_INTERNAL_V2_DISPERSAL_PORT={{ eigenlayer.eigenda.ports.v2_dispersal_port }}

NODE_V2_RETRIEVAL_PORT={{ eigenlayer.eigenda.ports.v2_retrieval_port }}
NODE_INTERNAL_V2_RETRIEVAL_PORT={{ eigenlayer.eigenda.ports.v2_retrieval_port }}

# Metrics specific configs
NODE_ENABLE_METRICS=true
NODE_METRICS_PORT={{ eigenlayer.eigenda.ports.metrics_port }}

# Node API specific configs
NODE_ENABLE_NODE_API=true
NODE_API_PORT={{ eigenlayer.eigenda.ports.node_api_port }}

# Keys
NODE_ECDSA_KEY_FILE={{ eigenda_ecdsa_key_path }}
NODE_BLS_KEY_FILE={{ eigenda_bls_key_path }}

# SRS Resourcess
NODE_G1_PATH={{ eigenda_g1_point_file_path }}
NODE_G2_POWER_OF_2_PATH={{ eigenda_g2_point_file_path }}

# Cache and data
NODE_CACHE_PATH={{ eigenda_data_dir }}/cache
NODE_DB_PATH={{ eigenda_data_dir }}/operator/db

# Node logs configs
NODE_LOG_LEVEL=debug
NODE_LOG_FORMAT=text
NODE_LOG_PATH={{ eigenda_log_file_path }}

# mainnet smart contracts
NODE_EIGENDA_SERVICE_MANAGER=0x870679E138bCdf293b7Ff14dD44b70FC97e12fc0
NODE_BLS_OPERATOR_STATE_RETRIVER=0xD5D7fB4647cE79740E6e83819EFDf43fa74F8C31

# Churner URL
NODE_CHURNER_URL=churner.eigenda.xyz:443

# The name of the header used to get the client IP address
# If set to empty string, the IP address will be taken from the connection.
# The rightmost value of the header will be used.
NODE_CLIENT_IP_HEADER=x-real-ip
# How often to check the public IP address of the node. Set this to 0 to disable
# automatic IP address updating (if you have a stable IP address)
NODE_PUBLIC_IP_CHECK_INTERVAL=10s

# IP of node
NODE_HOSTNAME={{ ansible_default_ipv4.address }}

# working chain rpc
NODE_CHAIN_RPC={{ vault.mainnet.eigenda.node_chain_rpc }}
NODE_CHAIN_ID=1

# The ip provider service used to obtain a node's public IP [seeip (default), ipify)
NODE_PUBLIC_IP_PROVIDER=seeip

# This flag defines a runtime mode. Acceptable inputs are v1-only, v2-only, v1-and-v2
NODE_V2_RUNTIME_MODE=v1-and-v2
