EO_CHAIN_RPC_ENDPOINT=https://rpc.testnet.eoracle.network
EO_CHAIN_WS_ENDPOINT=wss://rpc.testnet.eoracle.network/ws
EO_REGISTRY_COORDINATOR=0xc4A6E362e8Bd89F28Eb405F9Aa533784884B9c4F
EO_STAKE_REGISTRY=0xdda1a381920971642477CA79F5BFc1515414782d
EO_CONFIG_ADDRESS=0xf735Ad57952906a672eEEaDbef3bC69ECD24E50C
EO_AGGREGATOR_ADDRESS=0x6B0BE2aaD42612803c9Fc389A3806EF21E8cbDb6
ETH_RPC_ENDPOINT=https://ethereum-holesky-rpc.publicnode.com

EO_KEYSTORE_PATH={{ eoracle_key_dir }}
EO_PROMETHEUS_PORT={{ eigenlayer.eoracle.ports.prometheus_port }}
EO_HEALTH_ENDPOINTS_PORT={{ eigenlayer.eoracle.ports.health_port }}
EO_LOGGING_LEVEL=info

# ETHEREUM_FEED_RPC_ENDPOINT, make sure you use a stable rpc endpoint to Ethereum Mainnet
ETHEREUM_FEED_RPC_ENDPOINT=https://rpc.flashbots.net
# BSC_FEED_RPC_ENDPOINT, make sure you use a stable rpc endpoint to BSC Mainnet
BSC_FEED_RPC_ENDPOINT=https://rpc-bsc.48.club
# TRX_FEED_RPC_ENDPOINT, make sure you use a stable rpc endpoint to Tron Mainnet
TRX_FEED_RPC_ENDPOINT=https://api.trongrid.io
# MERLIN_FEED_RPC_ENDPOINT, make sure you use a stable rpc endpoint to Merlin Mainnet
MERLIN_FEED_RPC_ENDPOINT=https://rpc.merlinchain.io
#BITLAYER_FEED_RPC_ENDPOINT, make sure you use a stable rpc endpoint to Bitlayer Mainnet
BITLAYER_FEED_RPC_ENDPOINT=https://rpc.bitlayer-rpc.com
