[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ omni_execution_home_dir }}
EnvironmentFile={{ omni_execution_environment_general_file_path }}
ExecStart={{ omni_execution_bin_dir }}/{{ service_identifier }} --config {{ omni_execution_config_file_path }}
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ omni_execution_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
